
::-webkit-scrollbar {
	display: none;
	width: 5px;
	background-color: black;
}
:hover::-webkit-scrollbar {
	display: block;
}
::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 10px;
}
