
header {
	width: 90%;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	border-radius: 30px;
    padding-top: 30px;
	margin-bottom: 30px;
    background-image: linear-gradient(to bottom, var(--first-color), var(--secondary-color));
}
h1{
    font-size: 70px;
    margin: 0px;
    color: var(--text);
}
p{
    color: var(--text-light);
}
.image-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 20px;
	width: 100%;
    padding: 30px;
	height: max-content;
}

.image-container img {
	display: block;
	width: 80px;
	height: 80px;
	transition: transform 1s ease;
	/* padding: 30px; */
    cursor: pointer;
}
.image-container img:hover~span{
	opacity: 1;
}
.image-container span{
	text-align: center;
	display: block;
	width: max-content;
	border: 0.5px solid black;
	margin: auto;
	margin-top: 1px;
	padding: 1px 3px;
	opacity: 0;
}

/* Manually position the images */
.image-container div:nth-child(1) {
	grid-row: 2;
	grid-column: 1;
}

.image-container div:nth-child(2) {
	grid-row: 1;
	grid-column: 2;
}

.image-container div:nth-child(3) {
	grid-row: 2;
	grid-column: 3;
}
.image-container div:nth-child(4) {
	grid-row: 1;
	grid-column: 4;
}

.image-container div:nth-child(5) {
	grid-row: 2;
	grid-column: 5;
}

.image-container div:nth-child(6) {
	grid-row: 1;
	grid-column: 6;
}
.image-container div:nth-child(7) {
	grid-row: 2;
	grid-column: 7;
}

.image-container div:nth-child(8) {
	grid-row: 1;
	grid-column: 8;
}



/* CSS */
.home-page-button {
  color: #000;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgb(66, 243, 243) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(16, 120, 238, 0.747), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;

  border: 0;


  cursor: pointer;
}


@media (max-width: 500px) {
	h1{
		font-size: 45px;
	}

	.image-container div:nth-child(1) {
		grid-row: 2;
		grid-column: 1;
	}
	
	.image-container div:nth-child(2) {
		grid-row: 1;
		grid-column: 2;
	}
	
	.image-container div:nth-child(3) {
		grid-row: 2;
		grid-column: 3;
	}
	.image-container div:nth-child(4) {
		grid-row: 3;
		grid-column: 2;
	}
	
	.image-container div:nth-child(5) {
		grid-row: 4;
		grid-column: 1;
	}
	
	.image-container div:nth-child(6) {
		grid-row: 4;
		grid-column: 3;
	}
	.image-container div:nth-child(7) {
		grid-row: 5;
		grid-column: 1;
	}
	
	.image-container div:nth-child(8) {
		grid-row: 5;
		grid-column: 3;
	}
}