body {
	margin: 0;
	height: 100vh;
	padding: 0;
	/* padding-bottom: 30px; */
	background-image: linear-gradient(
		to top,
		var(--first-color),
		var(--secondary-color)
	);
	overflow-x: hidden;
}

#signinForm {
	background-color: aquamarine;
	width: 300px;
	height: 60vh;
	padding: 30px;
	margin: 30px auto 0px;
}
#signinForm>p{
	font-size: 20px;
	color: rgb(115, 116, 117);
}
#signinForm > div {
	position: relative;
}
#emailInput,
#passwordInput {
	height: 30px;
	font-size: 17px;
	border-radius: 3px;
	background-color: transparent;
	padding-left: 5px;
	outline: none;
	border: var(--first-color) 3px solid;
}
#emailInput {
	margin-bottom: 30px;
}
#emailInput,
#passwordInput {
	width: 90%;
}
#emailInput::placeholder,
#passwordInput::placeholder {
	color: transparent;
}
#emailInput:placeholder-shown ~ #form-label,
#passwordInput:placeholder-shown ~ #form-label {
	cursor: text;
	top: 5px;
	font-size: 17px;
}
#form-label {
	position: absolute;
	display: block;
	font-size: 14px;
	top: -13px;
	left: 5px;
	transition: 0.5s;
	padding: 0px 2px;
	background-color: aquamarine;
}

#eye {
	position: relative;
	top: -10px;
	left: -1px;
	font-size: 15px;
	font-weight: 600;
}
input[type="checkbox"]{
	cursor: pointer;
}

#submitButton{
	margin-top: 30px;
	width: 110px;
	height: 40px;
	border: 0px;
	background: var(--first-color);
	font-size: 17px;
	color: var(--text);
	border-radius: 5px;
	transition: 0.5s;
    cursor: pointer;
}
